#color-picker{
    padding: 50px;
    .flex-row{
        display: flex;
        justify-content: center;
        .box{
            width: 100%;
            margin: 1%;
        }
    }
    .panel{
        width: 100%;
        height: 40vh;
        margin-bottom: 10px;
        background-color: rgba(100,28,0,1);
    }
    
    
}